{% extends 'base.html' %}

{% block title %}Про косметологічний салон Beauty Zone{% endblock %}

{% block content %}
<section id="about-section" class="about container">
  <h2>Про косметологічний салон <span class="accent">Beauty Zone</span></h2>
  <p>
    У <strong>Beauty Zone</strong> ми віримо, що краса — це гармонія тіла й душі.
    Наша команда професіоналів забезпечує високоякісні косметологічні процедури в атмосфері спокою та турботи.
    Ми створюємо індивідуальні програми для вашої шкіри, щоб ви почувалися впевнено й чудово щодня.
  </p>
</section>
{% endblock %}
